<app-island [padding]="false" [header]="header">

    <div *ngIf="cluster" class="
    flex flex-col items-stretch justify-start
    divide-y divide-[--tui-base-03]
    ">
        @for(article of cluster.articles||[]; track article){
            <app-article [article]="article" [groupManager]="jobService.getGroupManager(cluster.id)"></app-article>
        }
    </div>


</app-island>

<ng-template #header>
    <div class="flex flex-row justify-between items-center">
        <h3 class="tui-island__title" [style.margin-bottom]="0">Articles</h3>
        <div class="flex flex-row justify-end items-center gap-1">
            <button tuiIconButton size="s" appearance="outline">
                <lucide-icon name="filter" [size]="16"></lucide-icon>
            </button>
            <button tuiIconButton size="s" appearance="outline">
                <lucide-icon name="arrow-down-a-z" [size]="16"></lucide-icon>
            </button>
        </div>
    </div>
</ng-template>
