<button
    tuiIconButton
    type="button"
    class="tui-space_right-3 tui-space_bottom-3"
    icon="tuiIconFilter"
    (click)="showFilterDialog(template)"
></button>

    
<ng-template
    #template
    let-observer
>   
    <div class="flex flex-col justify-between">
        <p class="
            text-2xl text-center font-bold 
            mb-5"
        >
            Filter
        </p>

        <p class="text-lg font-bold">Annotation status:</p>
        <form class="group my-3" [formGroup]="filterStatusForm">
            <div tuiGroup class="group flex" [collapsed]="true">
                <tui-checkbox-block
                contentAlign="right"
                formControlName="pending"
                size="m"
                >
                Pending
                </tui-checkbox-block>
                <tui-checkbox-block
                contentAlign="right"
                formControlName="completed"
                size="m"
                class="text-clip"
                >
                Completed
                </tui-checkbox-block>
            </div>
        </form>

        <p class="
            text-lg font-bold
            border-t-2 border-solid border-gray-200"
        >
            Clusters:
        </p>
        <form class="group my-3" [formGroup]="filterClusterForm">
            @for (cluster of clusters; track cluster.id) {
                <tui-checkbox-block
                contentAlign="right"
                formControlName={{cluster.name}}
                size="m"
                >
                {{cluster.name}}
                </tui-checkbox-block>
            }
        </form>

        <div class="flex flex-row justify-center mt-4">
            <button
                size="m"
                tuiButton
                type="button"
                class="tui-space_right-10 mr-5"
                (click)="resetClick()"
            >
                Reset
            </button>
            <button
                size="m"
                tuiButton
                type="button"
                (click)="filterClick()"
            >
                Filter
            </button>
        </div>
    </div>
    
</ng-template>



