<div class="w-full bg-white sticky top-0">
  <nav>
    <tui-tabs class="flex flex-row justify-between items-stretch px-gutter">
      <img
        src="/assets/logos/synapxe_full.png"
        alt=""
        class="max-h-6 my-auto"
        draggable="false"
      />
      <div class="flex flex-row justify-end gap-x-5">
        <app-navlink to="/clusters"> Clusters </app-navlink>
<!--        <app-navlink to="/improvements"> Improvements </app-navlink>-->
<!--        <app-navlink to="/harmoniser"> Harmoniser </app-navlink>-->
<!--        <app-navlink to="/jobs"> Jobs </app-navlink>-->
<!--        <app-navlink to="/test"> Test </app-navlink>-->
      </div>
    </tui-tabs>
  </nav>
</div>
