<div class="relative h-full border-l-2 border-solid border-gray-400">
    <div>
        <app-main-cluster-filter></app-main-cluster-filter>
        <app-main-cluster-sort></app-main-cluster-sort>
    </div>
    <app-status-bar></app-status-bar>
    <div class="absolute bottom-4 flex flex-row justify-center w-full">
        <button
        size="m"
        tuiButton
        type="button"
        class="tui-space_right-3"
        (click)="showReviewDialog(template)"
    >
        Review
    </button>
    </div>
</div>


<ng-template
    #template
    let-observer
>
    <p>Review have not been implemented yet</p>
    <p>Cluster selected: {{clusterSelected}}</p>

</ng-template> 
