<div class="
    relative
    h-full
    border-l-2 border-solid border-gray-400"
>
    <div class="flex flex-row justify-evenly mt-2">
        <app-main-cluster-filter></app-main-cluster-filter>
        <app-main-cluster-sort></app-main-cluster-sort>
    </div>
    <app-status-bar></app-status-bar>
    <div class="bottom-4 flex flex-row justify-center absolute mx-auto w-full">
        <button
        tuiButton
        type="button"
        size="m"
        > 
            Export all
        </button>

    </div>


</div>


