/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box !important;
}

:root {
  --tui-radius-s: 0.3rem;
  --tui-radius-m: 0.5rem;
  --tui-radius-l: 0.3rem;
  --tui-radius-xl: 0.3rem;
  --tui-shadow: none;
  --tui-shadow-xs: none;
  --tui-shadow-s: none;
  --tui-shadow-m: none;
  --tui-shadow-l: none;
  --tui-shadow-xl: none;
}

[tuiWrapper][data-appearance="textfield"] {
  box-shadow: none !important;
}
