<table class="w-full table-auto border-collapse border-2 border-black">
  <tr class="bg-black [&>th]:text-white">
    <th class="border-r-2 border-white text-lg text-white">id</th>
    <th class="border-l-2 border-white text-lg text-white">URL</th>
    <th class="border-l-2 border-white text-lg text-white">Pillar</th>
    <th class="border-l-2 border-white text-lg text-white">Status</th>
  </tr>
  
  @for (cluster of clusters; track cluster) {
  <tr>
    <th colspan="5" class="border-collapse border-2 border-black bg-gray-400">
      <div class="relative flex-col items-center justify-center">
        <input
          type="radio"
          class="absolute top-0 bottom-0 left-1 scale-150"
          [formControl]="clusterSelected"
          value = {{cluster.clusterId}}
        />
        <span class="block">Cluster: {{ cluster.clusterId }}</span>
        <div>
          <span class="outline-1 p-1 outline m-1">Status: {{cluster.annotationStatus}}</span>    
          <span class="outline-1 p-1 outline m-1">No. of Articles:{{cluster.articles.length}}</span>    
        </div>
      </div>
    </th>
  </tr>
  @for (article of cluster.articles; track article) {
  <tr>
    <td class="border-collapse border-2 border-black">
      {{ article.articleId }}
    </td>
    <td class="border-collapse border-2 border-black">
      {{ article.URL }}
    </td>
    <td class="border-collapse border-2 border-black">
      {{ article.pillar }}
    </td>
    <td class="border-collapse border-2 border-black">
      {{ article.status }}
    </td>
  </tr>
  } }
</table>
