<section class="w-full">

    <div (click)="toggleExpand()" class="
    flex flex-row justify-between items-center
    bg-gray-50 pl-[1rem]
    cursor-pointer border-b border-[--tui-base-03]
    ">
        <span class="font-medium text-lg max-w-full text-ellipsis capitalize">{{title}}</span>
        <span>
            <button tuiIconButton icon="tuiIconChevronUpLarge" appearance="icon"
            class="
            transition-all duration-200
            pointer-events-none
            {{isExpand?'rotate-180':''}}
            "></button>
        </span>
    </div>

    <div class="
    overflow-hidden
    ">
        <div class=" transition-all
        {{isExpand?'opacity-100':'-mt-[100%] opacity-0'}}
        ">
            <ng-content></ng-content>
        </div>
    </div>

</section>