<button
    tuiIconButton
    type="button"
    class="tui-space_right-3 tui-space_bottom-3"
    icon="tuiIconSortOff"
    (click)="showFilterDialog(template)"
></button>


<ng-template
    #template
    let-observer
>   
    <tui-tiles
        class="tiles"
        [(order)]="order"
    >   
        @for (item of sortItems | keyvalue ;track item; let index = $index;) {
            <tui-tile
                tuiTileHandle
                class="tile h-10 w-30"
                [style.order]="order.get(index)"
            >
                <div class="content border-2 border-solid border-black h-full w-full flex flex-row justify-between items-center p-2">
                    <div> {{ item.key }}</div>
                    <button
                        tuiIconButton
                        type="button"
                        icon={{getIcon(item.value.state)}}
                        size="xs"
                        (click)="changeSort(item.key)"

                    ></button>
                
                </div>
            </tui-tile>
        }
    </tui-tiles>
    <button
    appearance="primary"
    tuiButton
    type="button"
    class="tui-space_right-3 tui-space_bottom-3"
    (click)="sortClusters()"
    >
        Sort
    </button>


</ng-template>