<!--<div class="-->
<!--border border-solid-->
<!--border-[&#45;&#45;tui-base-03]-->
<!--rounded-[&#45;&#45;tui-radius-m]-->
<!--h-full w-full max-h-full-->
<!--overflow-hidden-->
<!--{{ padding?'p-[1rem]':'' }}-->
<!--">-->
<!--    <div #headerTemplate *ngIf="header" class="-->
<!--    sticky top-0 p-[1rem]-->
<!--    bg-white-->
<!--    border-b border-[&#45;&#45;tui-base-03]-->
<!--    ">-->
<!--        <ng-container *ngTemplateOutlet="header"></ng-container>-->
<!--    </div>-->
<!--    <div #container class="h-full overflow-hidden">-->
<!--        <div #child class="overflow-y-auto overflow-x-hidden h-0">-->
<!--            <ng-content></ng-content>-->
<!--            <tui-scrollbar></tui-scrollbar>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->


<tui-island class="
h-full w-full max-h-full
overflow-hidden p-0
">
    <div #headerTemplate *ngIf="header" class="
    sticky top-0 p-[1rem]
    border-b border-[--tui-base-03]
    ">
        <ng-container *ngTemplateOutlet="header"></ng-container>
    </div>
    <div #container class="h-full overflow-hidden">
        <div #child class="overflow-y-auto overflow-x-hidden h-0">
            <ng-content></ng-content>
            <tui-scrollbar></tui-scrollbar>
        </div>
    </div>

</tui-island>